.App{
    background: url("https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}