.ChatPage{
    background: url("https://media.istockphoto.com/id/1189542390/vector/paper-layer-blue-abstract-background-use-for-banner-cover-poster-wallpaper-design-with-space.jpg?s=2048x2048&w=is&k=20&c=vOmcbh1wMSKUSScBq3RIX6tVvw1Ip6V9ouRYP-VQQTQ=");
    background-size: cover;
    background-repeat: no-repeat;

}